$white: #ffffff;
$black: #000000;

$gray-25: #8b8b8b;
$gray: #707070;
$gray-50: #2d2d2d;
$gray-75: #0d0d0d;

$blue: #3c82f4;
$blue-50: #3d82f2;
$blue-75: #306ef7;

$pink: #fe6783;
$yellow: #ffbf84;

$green: #0fc65c;

$border-radius: 20px;
$border-radius-min: 4px;
